.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
}
.postWrapper{
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.psotUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postData{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}
.linkIcon{
  width: 24px;
  height: 24px;
  margin: 5px;
  cursor: pointer;
}

.postLinkCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}